.App {
	max-height: 812px;
	display: flex;
	justify-content: space-around;
}

.screen{
	height: 812px;
	width: 375px;
	overflow: hidden;
	border: 1px solid black;
}

.disp {
	position: relative;
	width: 375px;
	height: 812px;
  background-color: #0093E9;
  background-image: linear-gradient(0deg, #22a9d221 -250%, rgb(255, 255, 255) 90%);
}